extends layout 
block content 
  div.container
    h1 Home
    p #{homeStartingContent}
  div.card-container
  each post in posts
    div.card
      h3 #{post.title}
      h5 #{post.slug}
      p #{post.content.substring(0, 100) + "..."}
      // ! a.read-more(href=`/posts/${post.slug}`) Read More
      a.read-more(href=`/posts/${post._id}`) Read More